article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	font-size: 62.5%;
	height: 100%;
	box-sizing: border-box;
}

:root {
	--color-primary: rgb(44, 40, 40);
	--color-secondary: rgba(255, 255, 255, 1);
	--color-shadow: rgba(0, 0, 0, 0.25);
	--color-glow: rgba(232, 208, 252, 1);
	--color-purp: rgba(136, 118, 155, 0.75);
	--color-orange: rgb(218, 178, 59);

	--size-100: clamp(.5rem, .25rem + .1vw, .6rem)
	--size-300: clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem);
	--size-400: clamp(0.88rem, 0.83rem + 0.24vw, 1rem);
	--size-500: clamp(1.09rem, 1rem + 0.47vw, 1.33rem);
	--size-600: clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem);
	--size-700: clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem);
	--size-800: clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem);
	--size-900: clamp(2.67rem, 2.07rem + 3vw, 4.21rem);
	--size-1000: clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body > * {
	font-family: monospace;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	/* font-family: system-ui, sans-serif; */
	font-weight: 400;
	line-height: 1;
}

a {
	text-decoration: none;
}