article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

html {
	font-size: 62.5%;
	height: 100%;
	box-sizing: border-box;
}

:root {
	--color-primary: rgb(44, 40, 40);
	--color-secondary: rgba(255, 255, 255, 1);
	--color-shadow: rgba(0, 0, 0, 0.25);
	--color-glow: rgba(232, 208, 252, 1);
	--color-purp: rgba(136, 118, 155, 0.75);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

body > * {
	font-family: monospace;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	/* font-family: system-ui, sans-serif; */
	font-weight: 400;
	line-height: 1;
}
